<!doctype html>

<html lang="en" ng-app="ytfeed">
  <head>
    <meta charset="utf-8">

    <title>YouTube Feed Viewer</title>
    <meta name="description" content="Demo source code for ">


    <meta name="author" content="KIK">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/e42c87ea15.css">

    <style type="text/css">
      body { background-color:#f5f5f5; }

      .container { margin-top: 100px; padding-bottom:20px;}

      .video-description { font-size:11px; line-height: 16px; }
      .socials {}
      .socials .kik_it { float:right; margin-left:5px; margin-top:0px;}

      header, #header {
        position:fixed;
        top:0px;
        width:100%;
        height: 50px;
        background-color: #fff;
        z-index:9999;
        padding: 15px;
        display: inline-flex;
      }

      .alert ul, .alert ul li { margin:0; padding:0; list-style: none; }
      .alert ul li { border-bottom: 1px dotted #999; font-size:10px; margin-bottom: 3px; padding-bottom:3px; }
      .main-header {background: #e62117 !important;}
      .main-header a{text-decoration: none;}
      .text-light {color: #ffffff;}
      .padding-left-5 {padding-left: 5px;}
      .header-play-icon { font-size: 1.5em; }
      .fixed-video {width: 150px; height: 115px;}
      .no-border {border: none;}
      .full-width {width: 100%;}
      .header-title {vertical-align: top;}
      .margin-top-50 {margin-top: 50px;}
    </style>

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- kik specific -->
    <link rel="kik-icon" href="">
    <link rel="canonical" href="">
    <meta name="kik-unsupported" content="android-2.3,ios-5">

  </head>

  <body>

    <header id="header" class="main-header">
      <a class="full-width">
        <i class="fa fa-play text-light header-play-icon"></i>
        <span ui-sref="displayAll" class="text-light padding-left-5 header-title">YouTube Feed Viewer</span>
        <i class="fa fa-search pull-right text-light header-play-icon" ng-click="toggleSearch = !toggleSearch"></i>
      </a>
    </header>

    <div class="container margin-top-50">
      <div class="row search-bar" ng-show="toggleSearch">
        <div class="col-lg-6">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for..." ng-model="searchText">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button" ng-click="search(searchText)">Go!</button>
            </span>
          </div>
        </div>
      </div>
      <div ui-view autoscroll="false"></div>
      <div ui-view="recentView"></div>
      <div ui-view="mostViewed"></div>
      <div ui-view="search"></div>
    </div>

    <!-- Add Templates -->

    <script type="text/ng-template" id="recent.html">
      <h4 class="margin-top-50">Recent Videos</h4>
      <div class="table-responsive no-border">
        <table class="table">
          <tbody>
            <tr>
              <td ng-repeat="video in videos">
                <div class="img-thumbnail fixed-video" ui-sref="detailsView({ videoId: video.id.videoId })">
                  <img ng-src="{{video.snippet.thumbnails.high.url}}" on-error-src="https://s16.postimg.org/5rybjpzd1/default_thumbnail.jpg" class="img-responsive">
                </div>
              </td>
            <tr>
          </tbody>
        </table>
      </div>
    </script>

    <script type="text/ng-template" id="most-viewed.html">
      <h4>Most Viewed</h4>
      <div class="table-responsive no-border">
        <table class="table">
          <tbody>
            <tr style="height: 150px;">
              <td ng-repeat="video in videos">
                <div class="img-thumbnail fixed-video" ui-sref="detailsView({ videoId: video.id.videoId })">
                  <img ng-src="{{video.snippet.thumbnails.high.url}}" on-error-src="https://s16.postimg.org/5rybjpzd1/default_thumbnail.jpg" class="img-responsive">
                </div>
              </td>
            <tr>
          </tbody>
        </table>
      </div>
    </script>

    <script type="text/ng-template" id="details.html">
      <div class="row">
        <div class="col-lg-8 col-md-7 col-sm-12 col-xs-12">
          <div class="embed-responsive embed-responsive-4by3">
            <iframe class="embed-responsive-item" ng-src="{{video.trustedUrl}}" frameborder=0 allowfullscreen></iframe>
          </div>
        </div>
        <div class="col-lg-4 col-md-5 col-sm-12 col-xs-12">
          <h3>{{video.snippet.title}}</h3>
          <p class="video-description">{{video.snippet.description}}</p>
          <hr>
          <div class="row">
            
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="line-height:13px;">
              {{video.statistics.viewCount | number:0}}<br>
              <b class="video-description">VIEWS</b>
            </div>
            

            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 socials">
              <div class="clearfix">
                <button kikbtn class="btn btn-link kik_it" id="{{video.id}}" title="{{video.snippet.title}}" description="{{video.snippet.description}}" imagesrc="{{video.snippet.thumbnails.high.url}}"><img src="sharebtn.png" width="32"></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </script>

    <script type="text/ng-template" id="search.html">
      <h4 class="margin-top-50">Search Results</h4>
      <div class="row">
        <div class="col-lg-2 col-md-3 col-sm-6 col-xs-6" ng-repeat="video in videos">
          <a class="thumbnail" ui-sref="detailsView({ videoId: video.id.videoId })">
            <img ng-src="{{video.snippet.thumbnails.high.url}}" on-error-src="https://s16.postimg.org/5rybjpzd1/default_thumbnail.jpg" class="img-responsive">
          </a>
        </div>
      </div>
    </script>

    <!-- Add Scripts -->

    <script type="text/javascript" src="http://cdn.kik.com/kik/1.0.18/kik.js"></script>
    <script type="text/javascript" src="https://code.angularjs.org/1.2.24/angular.min.js"></script>
    <script type="text/javascript" src="https://code.angularjs.org/1.2.24/angular-route.min.js"></script>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.min.js"></script>

    <script type="text/javascript">

      var bF = angular.module('ytfeed', ['ngRoute','ui.router'])

      /**
       * Routing
       *
       * This is simple UI routing inside the single-page application
       */

      .config(['$stateProvider', '$urlRouterProvider', '$locationProvider', function($stateProvider, $urlRouterProvider, $locationProvider) {

        var channel_name = 'idreammovies';

        $urlRouterProvider.otherwise('/');

        $stateProvider.
          state('displayAll', {
            url: '/all',
            views: {
              'recentView': {
                templateUrl: 'recent.html',
                controller: function($scope, Videos) {
                  $scope.videos = Videos;
                },
                resolve: {
                  Videos: function ($feedService, $rootScope) {
                    var search_query;
                    if ($rootScope.search_string) {
                      search_query = channel_name + ' ' + $rootScope.search_string;
                    } else {
                      search_query = channel_name;
                    }
                    return $feedService.getRecent(search_query, 20, 'date');
                  }
                }
              },
              'mostViewed': {
                templateUrl: 'most-viewed.html',
                controller: function($scope, Videos) {
                  $scope.videos = Videos;
                },
                resolve: {
                  Videos: function ($feedService, $rootScope) {
                    var search_query;
                    if ($rootScope.search_string) {
                      search_query = channel_name + ' ' + $rootScope.search_string;
                    } else {
                      search_query = channel_name;
                    }
                    return $feedService.getMostViewed(search_query, 20, 'viewCount');
                  }
                }
              }
            }
          }).
          state('detailsView', {
            url: '/video/:videoId',
            templateUrl: 'details.html',
            controller: function($scope, Video) {
              $scope.video = Video;
            },
            resolve: {
              Video: function ($feedService, $stateParams) {
                return $feedService.getDetails($stateParams.videoId);
              }
            }
          }).
          state('switch', {
            url: '/',
            controller: function($scope, $state) {
              if (kik.message) {
                $state.go('detailsView', { videoId: kik.message.videoId });
              } else {
                $state.go('displayAll');
              }
            }
          }).
          state('search', {
            url: '/search',
            templateUrl: 'search.html',
            controller: function($scope, Video) {
              $scope.videos = Video;
            },
            resolve: {
              Video: function($feedService, $rootScope) {
                var search_query;
                if ($rootScope.search_string) {
                  search_query = channel_name + ' ' + $rootScope.search_string;
                } else {
                  search_query = channel_name;
                }
                return $feedService.getSearchedVideos(search_query, 20, 'date');
              }
            }
          });
      }])

      .directive('kikbtn', function() {
        return {
          restrict: 'A',

          link: function(scope, element, attrs) {

            var kikdata = {
              title: attrs.title,
              text: attrs.description,
              pic: attrs.imagesrc || false,
              big: (attrs.imagesrc) ? true : false,
              noForward: (attrs.forward) ? false : true,
              data: { videoId: attrs.id || false }
            };

            // implement onclick handler;
            element.on('click', function(e) {
              scope.$apply(function() {
                if (typeof kik !== 'undefined') {
                  try {
                    kik.send(kikdata);
                    return false;
                  } catch (err) {
                    return false;
                  }
                }
              });
            });

          }
        };
      })

      .directive('onErrorSrc', function() {
        return {
          link: function(scope, element, attrs) {
            element.bind('error', function() {
              if (attrs.src != attrs.onErrorSrc) {
                attrs.$set('src', attrs.onErrorSrc);
              }
            });
          }
        }
      })

      .constant('API_KEY', 'AIzaSyCQDfngMbKeq01pjO7aCPSE2cL1eteMrsY') // place your ID here. 

      /**
       * Feed Service
       *
       * This would be a simple service to get a youtube feed, or a single video
       * Sends back an added parameter of trustedUrl
       */

      .factory('$feedService', ['$sce', '$http', '$q', 'API_KEY', function($sce, $http, $q, API_KEY) {

        function attachTrustedUrl(video) {
          return $sce.trustAsResourceUrl('//www.youtube.com/embed/'+video.id+'?rel=0&autohide=1&showinfo=0');
        }

        return {

          getRecent: function(channel, limit, order) {

            if (!API_KEY || API_KEY === '') {
              return console.log('You are missing your API KEY!');
            }

            url = 'https://www.googleapis.com/youtube/v3/search?q='+channel+'&part=snippet&type=video&order='+order+'&maxResults=' + limit + '&key=' + API_KEY;

            var d = $q.defer();
            $http.
              get(url).
              success(function(response) {
                return d.resolve(response.items);
              });
            return d.promise;
          },

          getMostViewed: function(channel, limit, order) {
            if (!API_KEY || API_KEY === '') {
              return console.log('You are missing your API Key!');
            }

            url = 'https://www.googleapis.com/youtube/v3/search?q='+channel+'&part=snippet&type=video&order='+order+'&maxResults='+limit+'&key='+API_KEY;

            var d = $q.defer();
            $http.
              get(url).
              success(function(response) {
                return d.resolve(response.items);
              });
            return d.promise;
          },

          getDetails: function(id) {

            if (!API_KEY || API_KEY === '') {
              return console.log('You are missing your API KEY!');
            }
            
            var d = $q.defer();
            $http.
              get('https://www.googleapis.com/youtube/v3/videos?id='+id+'&part=snippet,statistics&key=' + API_KEY).
              success(function(response) {

                if (response.items && response.items.length) {
                  tmpVideo = response.items[0];
                  tmpVideo.trustedUrl = attachTrustedUrl(tmpVideo);
                  console.log(tmpVideo);
                  return d.resolve(tmpVideo);
                } else {
                  return d.reject('could not find');
                }
              });
            return d.promise;
          },

          getSearchedVideos: function(channel, limit, order) {
            if (!API_KEY || API_KEY === '') {
              return console.log('You are missing your API Key!');
            }

            url = 'https://www.googleapis.com/youtube/v3/search?q='+channel+'&part=snippet&type=video&order='+order+'&maxResults='+limit+'&key='+API_KEY;

            var d = $q.defer();
            $http.
              get(url).
              success(function(response) {
                return d.resolve(response.items);
              });
            return d.promise;
          }

        };

      }])

      .filter('characters', function () {
        return function (input, chars, breakOnWord) {
          if (isNaN(chars)) return input;
          if (chars <= 0) return '';
          if (input && input.length > chars) {
            input = input.substring(0, chars);

            if (!breakOnWord) {
              var lastspace = input.lastIndexOf(' ');
              //get last space
              if (lastspace !== -1) {
                input = input.substr(0, lastspace);
              }
            }else{
              while(input.charAt(input.length-1) === ' '){
                input = input.substr(0, input.length -1);
              }
            }
            return input + '...';
          }
          return input;
        };
      })

      .run(function($rootScope, $state) {
        $rootScope.search = function(string) {
          $rootScope.search_string = string;
          $state.transitionTo('search');
        };
      });
    </script>
  </body>
</html>